packages/zk-certificates/ignition/deployments
packages/zk-certificates/issuedZKCertificates
packages/zk-certificates/merkleProofs
packages/cross-chain-replication/artifacts
packages/cross-chain-replication/cache